modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 36427
externalPort = 3001

[[ports]]
localPort = 38283
externalPort = 5000

[[ports]]
localPort = 40375
externalPort = 3002

[[ports]]
localPort = 40625
externalPort = 4200

[[ports]]
localPort = 45539
externalPort = 3003

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
BILLING_API_URL = "https://elmx-bp-beta.api.elm.sa/billing/v3/api/invoice/generateinvoicewithcustomer"
BILLING_PRODUCT_CODE = "812"
BILLING_CLIENT_KEY = "7cf6a6d1-6c93-4faa-9dbf-99b9407cd096"
BILLING_APP_ID = "a26c555d"
BILLING_APP_KEY = "c440f95c0be4981f8c2d2a465e83edcb"
PAYMENT_API_URL = "https://pg-beta.api.elm.sa/payment/api/product/createpaymentrequest"
PAYMENT_APP_ID = "8ab5d791"
PAYMENT_APP_KEY = "77a0e640a57cf7e166acfcb4645ddd8c"
PAYMENT_CLIENT_KEY = "62E62894-F302-40CC-9F47-760B27BC7FBF"

[userenv.production]
APP_BASE_URL = "https://marri.automind-squad.bp.elmhakathon.com"
